@import "modal-style.css";
@import "structure-style.css";
@import "product.css";
@import "ordini.css";
.gfx-link {
    margin: 25px 50px;
    font-style: italic;
}

.gfx-not-resizable {
    resize: none !important;
}

.gfx-grafics-container {
    height: auto;
    width: 35%;
    margin: 5% 15%
}

.centerd-itm {
    width: 50%;
    margin: 20% 25%;
}

.inline-table-text {
    width: 80%;
    margin-right: 0;
    display: inline;
}

.tbl-150 {
    width: 150%;
}

.fix-on-bot {
    position: absolute;
    bottom: 0;
}

.distance-to-img {
    padding-right: 20px;
}

.bold {
    font: bold;
}