footer {
    height: 50px;
    width: 100%;
    background-color: rgb(102, 255, 51);
}

header {
    height: 50px;
    width: 100%;
    background-color: rgb(102, 255, 51);
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #04AA6D;
}

.user-image-profile {
    width: 10%;
    margin: 1.5% 20px;
    padding: 0.5% 10px;
    height: 150px;
    background-color: black;
}

.hidden-field {
    display: none;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}