.ordini-container {
    height: 250px;
    width: 80%;
    margin: 25px 10%;
    padding: 30px;
    background-color: rgb(255, 179, 102);
    border-radius: 20px;
    font-family: Lato;
}

.ordini-container>.indirizzo {
    width: 50%;
    float: right;
    font-size: 16px;
}

.ordini-container>.indirizzo>span {
    color: blue;
    font-size: 18px;
    font-weight: bold;
}

.ordini-container>.data {
    margin: 25px 10%;
    padding: 10px;
    float: right;
}

.ordini-container>.pagamento {
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    float: right;
}

.ordini-container>.totale {
    background-color: blue;
    width: 150px;
    height: 150px;
    position: relative;
    top: 10px;
}

.ordini-container>.data-arrivo {
    height: 250px;
    width: 80%;
    margin: 25px 10%;
    padding: 10px;
    background-color: brown;
}