.product-container {
    height: 250px;
    width: 80%;
    margin: 25px 10%;
    padding: 10px;
    background-color: #25F11A;
    border-radius: 20px;
    color: black;
    font-family: Lato;
}

.product-container>.nome-prodotto {
    position: relative;
    top: -10px;
    left: 10px;
    width: 156px;
    padding: 2px;
    font-size: 32px;
    font-weight: bold;
}

.product-container>.immagine {
    position: relative;
    bottom: 216px;
    left: 10px;
    width: 156px;
    height: 156px;
    margin: 0;
    padding: 0;
}

.product-container>.giacenza {
    position: relative;
    bottom: 70px;
    left: 75%;
    width: 40%;
    font-size: 12px;
}

.product-container>.giacenza>span {
    font-size: 32px;
    color: #140375;
    font-weight: bold;
}

.product-container>.categoria {
    position: relative;
    bottom: 80px;
    left: 40%;
    font-size: 24px;
    color: black;
}

.product-container>.desc {
    position: relative;
    bottom: 80px;
    left: 50%;
    font-size: 18px;
    width: 50%;
    height: 100px;
}

.product-container>.prezzo {
    position: relative;
    bottom: 40px;
    left: 32%;
    font-size: 24px;
    float: left;
    width: 100px;
    font-weight: bold;
}

.product-container>.produttore {
    position: relative;
    bottom: 80px;
    left: 50%;
    font-size: 18px;
    width: 50%;
    margin: 2px;
}

.product-container>.produttore>span {
    color: blue;
}

.product-container>button {
    position: relative;
    bottom: 235px;
    left: 80%;
    color: black;
    border-radius: 10px;
    font-family: Lato;
    padding: 4px;
    font-size: 20px;
    margin: 4px;
}