footer {
    height: 50px;
    width: 100%;
    background-color: #AA8700;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 50px;
}

header {
    height: 50px;
    width: 100%;
    background-color: #AA8700;
    text-align: center;
    height: 50px;
}

header>h1 {
    font-size: 35px;
    padding: 5px 10px;
    margin-bottom: 20px;
    color: black;
}

footer>span:first-child {
    font-size: 22px;
    margin: 10px 20px;
    font-weight: bold;
}

footer>span:nth-child(2) {
    font-size: 20px;
    margin: 10px 20px;
}

footer>span:nth-child(3) {
    font-size: 15px;
    margin: 10px 20px;
}

.navbar {
    width: 100%;
    background-color: black;
}

.navbar a {
    float: left;
    padding: 12px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.navbar a :hover {
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    footer {
        position: unset;
        margin-top: 20px;
    }
    footer>span:first-child {
        font-size: 18px;
        margin: 5px 20px;
        font-weight: bold;
    }
    footer>span:nth-child(2) {
        font-size: 16px;
        margin: 5px 20px;
    }
    footer>span:nth-child(3) {
        font-size: 12px;
        margin: 5px 20px;
    }
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    footer>span:first-child {
        font-size: 18px;
        margin: 5px 20px;
        font-weight: bold;
    }
    footer>span:nth-child(2) {
        font-size: 16px;
        margin: 5px 20px;
    }
    footer>span:nth-child(3) {
        font-size: 12px;
        margin: 5px 20px;
    }
}